@model app.Areas.admin.ViewModels.OpremaRazduziVM
@{
    ViewBag.Title = "Razduzi";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />

    <h2>Povrat uređaja</h2>

@using (Html.BeginForm("Razduzi", "Oprema"))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.OpremaId)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DatumZaduzenja)

    <hr /> <br />

    <div class="row">


      
            <div class="col-3">

                <h3>@Html.Raw(Model.device.Naziv)</h3> <br />
                Serijski broj: <b>@Html.Raw(Model.device.SerijskiBroj) </b><br />

            </div>
            <div class="col-4">
                Korisnik: <b>@Html.Raw(Model.user.Ime) @Html.Raw(Model.user.Prezime)  </b><br />
                Datum zaduženja: <b>@Html.Raw(Model.DatumZaduzenja.ToString("dd-MM-yyyy"))</b>
            </div>

            <div class="col-4">
                <div class="form-group">
                    @Html.LabelFor(m => @Model.DatumVracanja, "Datum vraćanja opreme: ")
                    @Html.EditorFor(model => model.DatumVracanja, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.DatumVracanja, "", new { @class = "text-danger" })
                </div>
            </div>





     



    </div>


    <hr />

    
    <button type="submit" value="Save" class="btn btn-primary" aria-label="Left Align">
        <span class="fas fa-save fff-icon" aria-hidden="true"></span> SPREMI
    </button>

}