@model app.Areas.admin.ViewModels.ZahtjevDetaljiVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";


  }



<div>
    <br />
    <div class="row">
        <div class="col-12">
            <h2 class="">
                Zahtjev
                <b>@Html.DisplayFor(model => model.Id)</b>
            </h2>
            <br />
        </div>
        <br />
        <div class="col-6 text-left zahtjev-tekst">
            <b>Licni podaci:</b> <br />

          
            @Html.DisplayFor(model => model.Ime)
            @Html.DisplayFor(model => model.Prezime) 
            <br />

           <b>@Html.DisplayFor(model => model.JMBG)</b><br />

            @Html.DisplayFor(model => model.Opcina),
            @Html.DisplayFor(model => model.Naselje)
            <br />
            @Html.DisplayFor(model => model.Ulica)
            @Html.DisplayFor(model => model.Broj) 

        </div>
        <div class="col-6 text-right zahtjev-tekst">
            <b>Kontakt podaci:</b> <br />


            Telefon: @Html.DisplayFor(model => model.Telefon)<br />
            Email: @Html.DisplayFor(model => model.Email)
            <br />
            Kontakt: 
            @Html.DisplayFor(model => model.TipKontakta)
            <br />
           

        </div>
        <div class="col-12">
          
           
                Napomena korisnika:<b>
                @Html.DisplayFor(model => model.Napomena)
            </b>








            <br />
            <br />

            Trenutni status:<b>
                @Html.DisplayFor(model => model.Status)
            </b>


            <br /><br />

        </div>


      <div class="col-12">
          <div class="panel panel-default">
              <div class="panel-heading">Order summary</div>
              <div class="panel-body">
                 
                  




                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Šifra paketa</th>
                              <th>Naziv paketa</th>
                              <th>Iznos</th>
                              <th>Datum podnosenja</th>
                          </tr>
                      </thead>
                      <tbody>
                          @foreach (var z in Model.ListaTraznihUsluga)
                          {
                              <tr>
                                  <td>@z.Id</td>
                                  <td class="text-center">@z.PaketId</td>
                                  <td>@z.Paket.Naziv</td>
                                  <td>@z.Paket.CijenaSaPdv KM</td>
                                  <td>@z.Zahtjev.DatumPodnosenja</td>

                              

                                  @*<td>
                                      @Html.ActionLink("Uredi", "Edit", new { id = z.Id }, new { @class = "btn btn-secondary btn-sm" })
                                      @Html.ActionLink("Detalji", "Details", new { id = z.Id }, new { @class = "btn btn-secondary btn-sm" })
                                  </td>*@
                              </tr>
                          }
                      </tbody>
                  </table>


                  
              </div>
          </div>
      </div>


    </div>
    <br />



@using (Html.BeginForm("Napomena", "Zahtjevi", FormMethod.Post, new { }))
{

    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => @Model.Komentar, "Komentar: ")
            @Html.TextAreaFor(model => model.Komentar, new { @class = "form-control", @rows = 4 })
            @Html.ValidationMessageFor(model => Model.Komentar, "", new { @class = "text-danger" })
        </div>

    </div>

        <button type="submit" value="Napomena" class="btn btn-primary">
            <i class="fas fa-save"></i>
    SPASI KOMENTAR</button>

}
    <br />



<div class="row">
    

    <div class="col-4 status-promjena">
        <div class="status-naslov">Obrada zahtjeva</div>



        <a href="@Url.Action("Zahtjev", "Korisnik", new { ZahtjevId = Model.Id , area = "Admin" })" class="btn btn-primary  hvr-icon-back " title="Nazad">
            <i class="fas fa-user-plus "></i>
            GENERISI KORISNIKA
        </a>



        <a href="@Url.Action("Aktivacija", "Zahtjevi", new { ZahtjevId = Model.Id , area = "Admin" })" class="btn btn-primary  hvr-icon-back " title="Nazad">
            <i class="fas fa-arrow-alt-circle-up"></i>
            AKTIVIRAJ USLUGE
        </a>


    </div>

    <div class="col-6 status-promjena">
        <div class="status-naslov">Promjeni status</div>


        <a href="@Url.Action("PromjeniStatus", "Zahtjevi", new { ZahtjevId = Model.Id, id2 = 1, area = "Admin" })" class="btn btn-secondary  hvr-icon-back " title="Nazad">
            <i class="fas fa-exchange-alt"></i>
            NA ČEKANJU
        </a>

        <a href="@Url.Action("PromjeniStatus", "Zahtjevi", new { ZahtjevId = Model.Id, id2 = 2, area = "Admin" })" class="btn btn-secondary  hvr-icon-back " title="Nazad">
            <i class="fas fa-exchange-alt"></i>
            U OBRADI
        </a>

        <a href="@Url.Action("PromjeniStatus", "Zahtjevi", new { ZahtjevId = Model.Id, id2 = 3, area = "Admin" })" class="btn btn-secondary  hvr-icon-back " title="Nazad">
            <i class="fas fa-exchange-alt"></i>
            ZATVORI ZAHTJEV
        </a>
       
    </div>

    
   
</div>




    <br />
    <br />


    <a href="@Request.UrlReferrer" class="btn btn-secondary  hvr-icon-back " title="Nazad">
        <i class="fas fa-chevron-circle-left "></i>
        Nazad
    </a>


</div>


<br /><br />







