@using app.Areas.admin.ViewModels
@model app.Areas.admin.ViewModels.ZahtjevIndexVM
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />

@using (Html.BeginForm("Index", "Zahtjevi", FormMethod.Get))
{
    <div class="row">


        <div class="col-12 col-sm-5">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control", @placeholder = "Unesite ime ili prezime..." })
            </div>
        </div>


        <div class="col-12 col-sm-5">
            <div class="form-group">
                @Html.DropDownListFor(x => x.OdabranaKategorija, @Model.ListaKategorija.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Naziv }).ToList(), new { @class = "form-control" })
            </div>
        </div>



        <div class="col-12 col-md-2 col-sm-2 col-lg-2">
            <input type="submit" name="submit" value="Prikaži" class="btn btn-secondary btn-block" />

        </div>


        




    </div>

}


<div class="row">
    <div class="col-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Korisnik</th>
                    <th>Datum podnošenja</th>
                    <th>Status zahtjeva</th>
                    <th>Općina</th>
                    <th>Adresa</th>
                    <th>Akcija</th>

                </tr>
            </thead>
            <tbody>


                @if (Model.ListaRezultata.Count() == 0)
            {
                    <tr>
                        <td colspan="7" class="text-center">
                            <div class="nemarezultatapretrage">
                                Nema rezultata pretrage
                                <br />
                            </div>
                        </td>
                    </tr>
                }


                else
                {
                    foreach (var x in Model.ListaRezultata)
                    {
                        <tr>
                            <td>@x.Id</td>
                            <td>@x.Ime @x.Prezime</td>
                            <td>@x.DatumPodnosenja.ToString("dd-MM-yyyy")</td>
                            <td>@x.ZahtjevStatus.Naziv</td>
                            <td>@x.Opcina.NazivOpcine</td>
                            <td>@x.NazivUlice</td>
                            <td>
                                @Html.ActionLink("Uredi", "Uredi", new { id = x.Id }, new { @class = "btn btn-secondary btn-sm" })
                                @Html.ActionLink("Detalji", "Details", new { id = x.Id }, new { @class = "btn btn-secondary btn-sm" })
                            </td>
                        </tr>
                    }
                }






            </tbody>
        </table>

    </div>
</div>

<div class="pagination">
    @Html.PagedListPager((IPagedList)Model.ListaRezultata, page => Url.Action("Index", new
{
    page,
    OdabranaKategorija = Request.QueryString["OdabranaKategorija"],
    Naziv = Request.QueryString["Naziv"]

}))


</div>
<br />
<br />



<br><br>