@model app.Areas.admin.ViewModels.ZahtjevIskljuciVM

@{
    ViewBag.Title = "Iskljuci uslugu";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";


}


<div class="container">

@using (Html.BeginForm("Iskljuci", "Zahtjevi"))
{

    @Html.HiddenFor(c => c.AktivnaUslugaId)
    @Html.HiddenFor(c => c.ZahtjevId)
    <br />
    <div class="row">
        <div class="iskljucenje-message">
            Isključenje aktivne usluge:
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <span class="pitanje-kategorija">Usluga:</span>  <span class="pitanje-kategorija-odgovor">@Model.AktivnaUsluga.Paket.Naziv</span> <br />
        </div>
        <div class="row">
            <span class="pitanje-kategorija"> Datum podnošenja:</span>  <span class="pitanje-kategorija-odgovor">@Model.Datum</span> <br />
        </div>
        <div class="row">
            <span class="pitanje-kategorija">  Razlog:</span>  <span class="pitanje-kategorija-odgovor">@Model.Razlog</span> <br />
        </div>
        <div class="row">
            <span class="pitanje-kategorija">  Napomena:</span>  <span class="pitanje-kategorija-odgovor">@Model.Napomena</span> <br />
        </div>
        <br />
       

    </div>
    <br />

    <a href="@Request.UrlReferrer" class="btn btn-secondary  hvr-icon-back " title="Nazad">
        <i class="fas fa-chevron-circle-left "></i>
        Nazad
    </a>

                <button type="submit" value="Save" class="btn btn-primary">Isključi</button>


                <br /><br />



}

</div>