@using app.Areas.admin.ViewModels
@model app.Areas.admin.ViewModels.RacunIndexVM
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Racuni pretraga";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />


@using (Html.BeginForm("Index", "Racun", FormMethod.Get))
{
    <div class="row">


        <div class="col-12 col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control", @placeholder = "Unesite sifru racuna..." })
            </div>
        </div>


        <div class="col-12 col-sm-4">
            <div class="form-group">
                @Html.DropDownListFor(x => x.OdabranKorisnik, @Model.ListaKorisnika.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Ime + " " + x.Prezime }).ToList(), new { @class = "form-control" })
            </div>
        </div>



        <div class="col-12 col-md-2 col-sm-2 col-lg-2">

            <button type="submit" class="btn btn-secondary btn-block" name="submit" value="Prikaži">
                <i class="fas fa-search"></i>
                Prikaži
            </button>

        </div>


        <div class="col-12 col-sm-2">
            <a href="@Url.Action("Kreiraj", "Racun")" class="btn btn-primary ">
                <i class="fas fa-plus-circle"></i> KREIRAJ RACUNE
            </a>
        </div>

    





    </div>

}



<div class="row">
    <div class="col-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sifra</th>
                    <th>Korisnik</th>
                    <th>Period od</th>
                    <th>Period do</th>
                    <th>Iznos sa PDV</th>
                    <th>Datum izdavanja</th>
                    <th>Akcija</th>

                </tr>
            </thead>
            <tbody>


                @if (Model.ListaRezultata.Count() == 0)
            {
                    <tr>
                        <td colspan="7" class="text-center">
                            <div class="nemarezultatapretrage">
                                Nema rezultata pretrage
                                <br />
                            </div>
                        </td>
                    </tr>
                }


                else
                {
                    foreach (var x in Model.ListaRezultata)
                    {
                        <tr>
                            <td>@x.Id</td>
                            <td>@x.Sifra</td>
                            <td>@x.Korisnik.Ime @x.Korisnik.Prezime</td>
                            <td>@x.ObracunskiPeriodOD.ToShortDateString()</td>
                            <td>@x.ObracunskiPeriodDO.ToShortDateString()</td>
                            <td>@x.UkupnoSaPDV.ToString("0.00")</td>
                            <td>@x.DatumIzdavanja.ToShortDateString()</td>

                            <td>
                                @Html.ActionLink("Detalji", "Detalji", new { id = x.Id }, new { @class = "btn btn-secondary btn-sm" })
                            </td>
                        </tr>
                    }
                }






            </tbody>
        </table>

    </div>
</div>

<div class="pagination">
    @Html.PagedListPager((IPagedList)Model.ListaRezultata, page => Url.Action("Index", new
{
    page,
    OdabranaKategorija = Request.QueryString["OdabranKorisnik"],
    Naziv = Request.QueryString["Naziv"]

}))


</div>
<br />
<br />
<br>
<br>











