@model app.ViewModels.VijestDetaljiVM
@{
    ViewBag.Title = "VijestDetalji";
}



<div class="container">

    <div class="row">

        <div class="col-12">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href='@Url.Action("Index","Vijest")'>Vijesti</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Html.Raw(Model.Naslov)</li>
                </ol>
            </nav>



            <div class="card  pitanje-panel">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <div class="naslov">
                                @Html.Raw(Model.Naslov)
                            </div>
                        </div>
                        <div class="col-4 ">
                            <span class="pitanje-kategorija">Kategorija:</span>  <span class="pitanje-kategorija-odgovor">@Html.Raw(Model.Kategorija)</span> <br />
                            <span class="pitanje-kategorija">Datum dodavanja:</span> <span class="pitanje-kategorija-odgovor">@Html.Raw(Model.DatumObjave)</span>
                        </div>
                    </div>
                </div>


                <div class="card-body pitanje-sadrzaj">
                    <div class="row">
                        <div class="col-8">
                            <p>@Html.Raw(Model.Opis)</p>
                        </div>

                        <div class="col-4">
                            @if (Model.ImageUrl == null)
                            {<img id="image" />}
                            else
                            {<img id="image" src="@Url.Content(Model.ImageUrl)" width="100%" />}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="myModal" class="modal">
    <span class="closee">&times;</span>
    <img class="modal-content" id="img01">
</div>


<hr />


<script src="~/Scripts/test.js"></script>


