@model app.ViewModels.HomePromjeniVM
@{
    ViewBag.Title = "Promjeni uslugu";
}



<div class="container">

    <br />
@using (Html.BeginForm("Promjena", "Home"))
{
    @Html.HiddenFor(c => c.AktivnaUslugaId)
    @Html.HiddenFor(c => c.KorisnikId)


    <div>
        Izabrana je usluga: <br /><span class="tip-usluge">@Model.Usluga.Paket.TipUsluga.Naziv - @Model.Usluga.Paket.Naziv </span>
    </div>

    <br />
    <div>
        Izaberite novu uslugu:
    </div>


    <div class="form-group">
        @*@Html.LabelFor(m => @Model.ListaNovihUsluga, "Novi paket:  ")*@
        @Html.DropDownListFor(x => x.IzabranaId, Model.ListaNovihUsluga.Select(x => new SelectListItem
   {
       Value = x.Id.ToString(),
       Text = x.TipUsluga.Naziv + " - " + x.Naziv
   }).ToList(), "Izaberite novu uslugu...", new { @class = "form-control" })


        @Html.ValidationMessageFor(model => Model.IzabranaId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => @Model.Napomena, "Napomena: ")
        @Html.TextAreaFor(m => @Model.Napomena, new { @class = "form-control", @rows = 4 })
        @Html.ValidationMessageFor(model => Model.Napomena, "", new { @class = "text-danger" })
    </div>

    <br />




    <button type="submit" value="Save" class="btn btn-primary" aria-label="Left Align">
            <span class="fas fa-save fff-icon" aria-hidden="true"></span> Spremi
        </button>

   
}
    <br />
    <br />
    <br />

</div>





