@model app.Areas.admin.ViewModels.VijestiEditVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}
  @using (Html.BeginForm("Edit", "Vijesti", FormMethod.Post, new { @enctype = "multipart/form-data" }))
  {
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      @Html.HiddenFor(m => Model.Id);

    <div class="form-group">
        @Html.LabelFor(m => @Model.Naziv, "Naslov: ")
        @Html.TextBoxFor(m => @Model.Naziv, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Naziv, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => @Model.Opis, "Sadržaj vijesti: ")
        @Html.TextAreaFor(m => @Model.Opis, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Opis, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => @Model.ListaKategorija, "Kategorija:  ")
        @Html.DropDownListFor(x => x.KategorijaId, Model.ListaKategorija.Select(x => new SelectListItem
   {
       Value = x.Id.ToString(),
       Text = x.Naziv
   }).ToList(), "Izaberite kategoriju", new { @class = "form-control" })


        @Html.ValidationMessageFor(model => Model.KategorijaId, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => @Model.Vidljivo, "Vidljivo korisnicima: ", new { @class = "" })
        @Html.EditorFor(model => model.Vidljivo, new { htmlAttributes = new { @class = "cekbox-m" } })
        @Html.ValidationMessageFor(model => model.Vidljivo, "", new { @class = "text-danger" })
        <br />
    </div>



    <div class="form-group">
        @Html.Label("ImageUpload", "Slika: ")

        <label for="Slika" class="btn btn-info btn-block">Izaberi sliku</label>
        <input type="file" id="Slika" name="ImageUpload" accept="image/*" style="display: none" onclick="klik()">
        @if (Model.ImageUrl == null)
        {
            <img id="image" />
        }
        else
        {
            <img id="image" src="@Url.Content(Model.ImageUrl)" height="250px" />
        }

        @Html.ValidationMessageFor(model => Model.ImageUpload, "", new { @class = "text-danger" })
    </div>

      //modal prozor za otvaranje slike
    <div id="myModal" class="modal">
        <span class="closee">&times;</span>
        <img class="modal-content" id="img01">
    </div>


    <div class="form-group">
        @Html.LabelFor(m => @Model.AltText, "Opis slike: ")
        @Html.TextBoxFor(m => @Model.AltText, new { @class = "form-control" })
    </div>

    <hr />

    <button type="submit" value="Save" class="btn btn-primary">Spremi</button>
    <a href="@Request.UrlReferrer" class="btn btn-secondary  hvr-icon-back " title="Nazad">
        <i class="fas fa-chevron-circle-left "></i>
        Nazad
    </a>
  }


<br />
<br />

<script src="~/Scripts/tinymce/tinymce.js"></script>
<script src="~/Scripts/main.js"></script>
