@model app.Areas.admin.ViewModels.AktivneUslugeIndexVm
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />

@using (Html.BeginForm("Index", "AktivneUsluge", FormMethod.Get))
{
    <div class="row">


        <div class="col-12 col-sm-3">


            @Html.DropDownListFor(x => x.ListaPaketa,
           @Model.ListaPaketa.Select(x => new SelectListItem
           {
               Value = x.Id.ToString(),
               Text = x.Naziv
           }).ToList(), new { @class = "form-control" })

        </div>
        <div class="col-12 col-sm-3">


            @Html.DropDownListFor(x => x.ListaTipUsluga,
           @Model.ListaTipUsluga.Select(x => new SelectListItem
           {
               Value = x.Id.ToString(),
               Text = x.Naziv
           }).ToList(), new { @class = "form-control" })

        </div>
        <div class="col-3">
            @Html.TextBoxFor(m => @Model.ImePrezime, new { @class = "form-control", @placeholder = "Unesite tekst..." })

        </div>




        <div class="col-12 col-md-6 col-sm-3 col-lg-3">
            <input type="submit" name="submit" value="Prikaži" class="btn btn-primary btn-block" />

        </div>

        @*<div class="col-12 col-md-12 col-sm-3 col-lg-3">
            @Html.ActionLink("Dodaj novo pitanje", "Dodaj", null, new { @class = "btn btn-primary btn-block" })

        </div>*@

    </div>

}




<br />
<div class="row">

    <div class="col-12">
        <table class="table ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Korisnik</th>
                    <th>Tip usluge</th>
                    <th>Paket</th>
                    <th>Adresa instalacije</th>
                    <th>Datum instalacije</th>
                    <th>Datum aktivacije</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.ListaRezultata.Count() == 0)
                {
                    <tr>
                        <td colspan="7" class="text-center">
                            <div class="nemarezultatapretrage">
                                Nema rezultata pretrage
                                <br />
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var x in Model.ListaRezultata)
                    {
                        <tr>
                            <td>@x.Id</td>
                            <td>@x.Korisnik.Ime </td>
                            <td>@x.Paket.TipUsluga.Naziv</td>
                            <td>@x.Paket.Naziv</td>
                            <td>@x.AdresaInstalacije</td>
                            <td>@x.DatumInstalacije</td>
                            <td>@x.DatumAktivacije</td>
                            <td>
                                @Html.ActionLink("Detalji", "Detalji", new { id = x.KorisnikId }, new { @class = "btn btn-secondary btn-sm" })
                            </td>

                        </tr>
                    }
                }


            </tbody>


        </table>
    </div>

</div>



<div class="pagination">
    @Html.PagedListPager((IPagedList)Model.ListaRezultata, page => Url.Action("Index", new
{
    page,
    TipUsluge = Request.QueryString["TipUsluge"],
    Usluga = Request.QueryString["Usluga"],
    imePrezime = Request.QueryString["imePrezime"]
}))


</div>















<br />


<a href="@Url.Action("NovaAktivacija", "AktivneUsluge")" class="btn btn-primary ">
    <i class="fas fa-user-plus"></i> AKTIVIRAJ NOVU USLUGU
</a>


<a href="@Request.UrlReferrer" class="btn btn-secondary  hvr-icon-back " title="Nazad">
    <i class="fas fa-chevron-circle-left "></i>
    Nazad
</a>