@model app.ViewModels.SmetnjaIndexVM
@{

}


<div class="container visina-400">

    <div class="row">
        <div class="col-8">
            <br />

            <div class="plavi-header bottom-20">
                <div class="tabela-ikona"><img src="~/Slike/Ikone/info.png" class="tabela-ikona-img" /></div>
                <div class="tabela-text"><h4>Prijavljenje smetnje</h4></div>
            </div>

            <table class="table table-hover">
    <thead>
        <tr>
            <th>Šifra</th>
            <th>Datum prijave</th>
            <th>Status</th>
            <th>Akcija</th>

        </tr>
    </thead>
    <tbody>


        @if (Model.ListaSmetnji.Count() == 0)
            {
            <tr>
                <td colspan="4" class="text-center">
                    <div class="nemarezultatapretrage">
                        Nemate prijavljenih smetnji!
                        <br />
                    </div>
                </td>
            </tr>
        }
        else
        {



            foreach (var z in Model.ListaSmetnji)
            {
                <tr>
                    <td>@z.BrojSmetnje</td>
                    <td>@z.DatumOtvaranja.ToShortDateString()</td>
                    <td>@z.SmetnjeStatus.Naziv</td>
                    <td>
                            @Html.ActionLink("Detalji", "Detalji", new { id = z.Id }, new { @class = "btn btn-secondary btn-sm" })
                        </td>
                </tr>
            }
        }

    </tbody>
</table>





        </div>

        <div class="col-4">
            <br />

            <div class="kocka text-center">
                <a href="@Url.Action("Prijava","Smetnja")" class="nav-item nav-link hvr-grow" >
                    <img src="https://png.icons8.com/ios/80/ffffff/sort-by-follow-up-date.png">
                    <div class="kocka-natpis">Prijavi smetnju</div>
                </a>
            </div>
            <br />
            @*<div class="kocka text-center">
                <a href="@Url.Action("Pretraga","Smetnje")" class="nav-item nav-link hvr-grow">
                    <img src="https://png.icons8.com/ios/80/ffffff/search-filled.png">
                    <div class="kocka-natpis">Pretraži smetnje</div>
                </a>
            </div>*@
         

             
        </div>
    </div>


   


</div>