@using app.Areas.admin.ViewModels
@model app.Areas.admin.ViewModels.KorisnikIndexVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Ime i Prezime</th>
            <th>JMBG </th>
            <th>Općina</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KorisnikRed x in Model.KorisniciRedovi)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.ImePrezime</td>
                <td>@x.JMBG</td>
                <td>@x.Opcina</td>
                <td>
                    @Html.ActionLink("Uredi", "Uredi", new { id = x.Id }, new { @class = "btn btn-secondary btn-sm" })
                    @Html.ActionLink("Detalji", "Detalji", new { id = x.Id }, new { @class = "btn btn-secondary btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>




<br />

<a href="@Url.Action("Dodaj", "Korisnik")" class="btn btn-primary ">
    <i class="fas fa-user-plus"></i> DODAJ KORISNIKA
</a>

<a href="@Url.Action("Search", "Korisnik")" class="btn btn-primary ">
    <i class="fa fa-search"></i> PRETRAGA
</a>



<a href="@Request.UrlReferrer" class="btn btn-secondary  hvr-icon-back " title="Nazad">
    <i class="fas fa-chevron-circle-left "></i>
    Nazad
</a>

<br />
<br />
